$black: #232323;
$background: url("../../img/bg.jpg");
$grey: #666666;

$white: #ffffff;

$black: #000000;
$yellow: #ffff66;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1280px;
$mobile-width-only: 319px;
$tablet-width-only: 659px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
